.el-button--primary {
  background-color: #3d8cfc;
  border-color: #3d8cfc;
}

.el-button + .el-button {
  margin-left: 30px;
}

.detail-dialog {
  padding: 30px;
}

.dialog-audit {
  display: flex;
  align-items: center;
}

.audit-body {
  padding-right: 30px;
  border-right: 1px solid #ddd;
  width: 60%;
}

.audit-item {
  display: flex;
  font-size: 14px;
  color: #333;
  margin-bottom: 35px;
}

.audit-item:last-child {
  margin-bottom: 0;
}

.audit-span {
  margin-right: 25px;
  width: 80px;
  text-align: right;
}

.audit-item p {
  line-height: 26px;
}

.avatar {
  width: 160px;
  height: 120px;
  border-radius: 6px;
}

.audit-list {
  padding-left: 30px;
  width: 40%;
}

.audit-list h1 {
  font-size: 16px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}

.audit-list h1 i {
  width: 3px;
  height: 15px;
  background-color: #367fff;
  margin-right: 10px;
}

.el-timeline {
  height: 320px;
}

.timeline-item div {
  font-size: 16px;
  color: #fff;
  background-color: #c0c3c9;
  padding: 4px 14px;
  border-radius: 4px;
  display: inline-block;
  position: relative;
}

.over {
  color: #367fff;
  font-size: 16px;
}

.box-left {
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid #c0c3c9;
  border-bottom: 5px solid transparent;
  position: absolute;
  left: -6px;
  top: 10px;
}

.timeline-item {
  position: relative;
  top: -5px;
  margin-top: 10px;
}

.timeline-item .active {
  background-color: #367fff;
}

.timeline-item .active .box-left {
  border-right: 10px solid #367fff;
}

.el-timeline-item__tail {
  left: 5px;
  border-left: 1px solid #ddd;
}

.el-timeline-item__node--normal {
  left: 0;
}

.el-scrollbar {
  height: 100%;
}

.el-scrollbar__wrap {
  overflow-y: auto;
  overflow-x: hidden;
}

.el-scrollbar__thumb {
  background: #ddd;
}

.dialog-footer {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
