.common-footer {
  background: #fff;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;
}
.wrapper .copy-right {
  padding-top: 19px;
  text-align: center;
  height: 82px;
}
.wrapper .copy-right p {
  font-size: 12px;
}
